{{!< default}}

{{#contentFor 'title'}}{{t 'Blog' }}{{/contentFor}}

<div class='o-grid'>
  <div class='o-grid__col'>
    <div class='c-archive'>
      <h1 class='c-archive__title'>뉴스레터</h1>
    </div>
  </div>
</div>

<div class="c-home-category__wrap">
  <div class="o-container">
    <ul class="c-home-category">
      {{navigation type="secondary"}}
    </ul>
  </div>
</div>

<div class="c-archive-grid">
  <div class="o-container">
    {{> loop }}
  </div>
</div>

<div class="o-container">
  {{ pagination }}
</div>