// *----------------------------------*\
//  Settings > Grid
// *----------------------------------*/

$grid-width: 1240px;
$grid-outer-gutter: $space-20;
$grid-column-medium-gutter: $space-20;
$grid-column-large-gutter: $space-20;