.c-hero {

  border: 0;

  &__wrap {
    max-width: none;
    padding: 0;
    border: 0;
  }

  &__tx {
    padding: 0;
  }

  &__content {
    padding: 0;
    max-width: none;
    width: 100%;
    margin: 0;
    text-align: inherit;
  }

  &__media {
    max-height: none;

    @include mq($until: desktop) {
      display: none;
    }
  }

  &__image {
    height: 100%;
  }
}