/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.c-pagination {
  margin: 50px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &--count-0 {
    display: none;
  }

  a {
    border-radius: 100rem;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    height: 60px;
    font-size: 14px;
    font-weight: 700;
  }
}